<!DOCTYPE html>
<!-- index.html -->
<html lang="en" ng-app="ShoppingListDirectiveApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./app.js"></script>
    <title>Directives with 'restrict'</title>
    <style>
        body {
            font-size: 1.2em;
        }

        .container {
            display: flex;
        }

        #list2 {
            margin-left: 50px;
        }

        .error {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Directives with 'restrict'</h1>

    <div class="container">
        <!-- LIST 1 - unlimited items -->
        <div id="list1" ng-controller="ShoppingListController1 as list">
            <h3>Shopping List #1</h3>
            <input type="text" ng-model="list.itemName" placeholder="item name">
            <input type="text" ng-model="list.itemQuantity" placeholder="item quantity">
            <button ng-click="list.addItem();">Add Item</button>
            <ol>
                <list-item ng-repeat="item in list.items"></list-item>
            </ol>
            <div class="error" ng-if="list.errorMsg">Error: {{list.errorMsg}}</div>
        </div>

        <!-- LIST 2 - limited 3 items -->
        <div id="list2" ng-controller="ShoppingListController2 as list">
            <h3>Shopping List #2 (limited 3 items)</h3>
            <input type="text" ng-model="list.itemName" placeholder="item name">
            <input type="text" ng-model="list.itemQuantity" placeholder="item quantity">
            <button ng-click="list.addItem();">Add Item</button>
            <ol>
                <list-item ng-repeat="item in list.items"></list-item>
            </ol>
            <div class="error" ng-if="list.errorMsg">Error: {{list.errorMsg}}</div>
        </div>
    </div>
</body>

</html>