<!DOCTYPE html>
<!-- index.html -->
<html lang="en" ng-app="ShoppingListDirectiveApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Import Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./app.js"></script>
    <title>Directives with Transclude</title>
    <style>
        body {
            font-size: 1.2em;
        }

        .container {
            display: flex;
        }

        #list2 {
            margin-left: 50px;
        }

        .error {
            color: red;
            font-weight: bold;
            display: none;
        }

        .warning {
            font-style: italic;
        }

        .title {
            background-color: #383838;
        }

        #list1,
        #list2 {
            float: left;
        }
    </style>
</head>

<body>
    <h1>Directives with Transclude</h1>

    <div class="container">
        <!-- LIST 1 - unlimited items -->
        <div id="list1" ng-controller="ShoppingListController as list">
            <div>
                <input type="text" ng-model="list.itemName" placeholder="item name">
                <input type="text" ng-model="list.itemQuantity" placeholder="item quantity">
                <button ng-click="list.addItem();">Add Item</button>
                <span>{{list.lastRemoved}}</span>
            </div>

            <shopping-list id="list1" items='list.items' title="{{list.title}}" on-remove="list.removeItem(index)">
                <span class="warning">WARNING! WARNING! {{list.warning}}</span>
            </shopping-list>

            <shopping-list id="list2" items='list.items' title="{{list.title}}" on-remove="list.removeItem(index)">
                <div class="title">OH, THE HORROR!</div>
                <div>{{list.warning}}</div>
            </shopping-list>
        </div>
    </div>
</body>

</html>